.git
.github
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
__pycache__
*.pyc

.env
.env.*
!.env.example

storage
resources
tests
docs
README.local.md
chord_annotated_musicxml_example.json

homr/tests
homr/docs
homr/figures
homr/training
homr/colab.ipynb
homr/*.onnx
homr/**/*.onnx
homr/*.pth
homr/**/*.pth
