/storage/uploads/*
/storage/jobs/*
/storage/outputs/*
!/storage/uploads/.gitkeep
!/storage/jobs/.gitkeep
!/storage/outputs/.gitkeep

/time_sig_cnn/data/crops/train/
/time_sig_cnn/data/crops/val/
/time_sig_cnn/data/crops/test/
/time_sig_cnn/data/raw_pages/train/
/time_sig_cnn/data/raw_pages/val/
/time_sig_cnn/data/raw_pages/test/


.env
__pycache__/
*.pyc
.venv/
venv/
